*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;}

body {
   font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background-image: linear-gradient(to right bottom, #7a600b,#050505);
   
}
body.active{
    transition: 2s;
    background-image: linear-gradient(to bottom right, #259c39,#050505);
}


.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items:center;

}

/*ito yung Calclator dark sa html*/
.calculator {
  height:  auto;
  width: auto;
  padding:  20px;
  border-radius: 20px;
  box-shadow: 0 0 30px #000;
}
/*Ito yung design ng toggler*/
.theme-toggler{
    position:absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #dbc627;
}

.theme-toggler.active::before{
    background-color: #50c23e;
}

.theme-toggler::before{
    content: '';
    height:30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    background-color:#dbc627;
    z-index: -1;
}


/*ito yung lalabas sa screen ng  Calculator */
#display{
    background-color:#848785;
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width:  270px;
    display: flex;
    border-radius: 10px;
    align-items:  flex-end;
    justify-content:  flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}


/*ito yung taas ng lalabas na number sa screen ng  Calclator */
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button{
    height:  60px;
    width: 60px;
    border: 0;
    border-radius: 15px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button :hover {
    transform: scale(5);
}

button#equal{
    height: 130px;
}


/* Light theme */

.calculator{
    background-color: #35733f;
}

.calculator #display{
    color: #0a1e23
}

.calculator button#clear{
    background: color #8dba96;
    color: #000;
}

.calculator button.btn-number{
    background-color: #3dd95c;
    color: #000;
}

.calculator button.btn-operator{
    background: color #4bc463;
    color: #000;
}

.calculator button.btn-equal{
    background-color:#8dba96;
    color:#000;
}


/*dark.theme dito ka nagkamali Carlo, .calculator kasi ang una mong nilagay instead na .calculator dark kaya hindi binabasa ng js noong gma nakaraang araw*/

.calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #a3a2a0;
    color: #f8fafb;
  }

  .calculator.dark button.btn-number {
    background-color: #4d4f4f;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #d69c31;
    color: #f8fafb;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #a3a2a0;
    color: #ffffff;
  }




